{{!--
<nav class="navbar ">
	<div class="navbar-brand">
		<div class="navbar-burger">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="header-nav" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item " href="/"> Home </a>
			<a class="navbar-item " href="/fetch"> Fetch </a>
		</div>

		<div class="navbar-end">
			<a class="navbar-item button is-primary" href="/fetch"> Fetch </a>
		</div>
</nav> --}}

<nav class="header">
	<div class="header-wrap">
		<div class="header-menu start">
			<a class="navbar-item " href="/"> Home </a>
		</div>
		{{!-- <div class="header-menu end"> --}}
			{{!-- <a class="navbar-item button is-primary" href="/feed"> Fetch </a> --}}
		{{!-- </div> --}}
	</div>
</nav>