@import url("color-overrides.css");
@import "_materialize-colors";
@import "_mixins-lib";
@import "_mixins";
@import "_variables";


html {
	font-size: 16px;
	font-family: Roboto,sans-serif;
}
body {
	margin: 0;
}




// Navbar =================================
	nav {
		justify-content: center;
		padding: 1rem;
		box-sizing: border-box;
		border-bottom: 2px solid rgba(0,0,0,0.24);
		background-color: #fff;
		display: flex;
		.header-wrap {
			flex-basis: 90%;
			max-width: 700px;
			display: flex;
			justify-content: space-between;
			.header-menu {
				&.start {
					display: flex;
				}
			}
		}
	}

// Main =====================================
	main {
		display: flex;
		background-color: #ecf0f1;
		min-height: 100vh;
		justify-content: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	h1 {
		margin: auto;
	}


// Headline ================================
	.headline-wrap {
		padding: 1rem;
		.headline {
			font-size: 2rem;
			font-weight: 900;
			color: #333;
			font-family: Roboto, sans-serif;
		}
	}

// Feed ====================================
	.feed {
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;

		.feed-item {
			display: flex;
			flex-direction: column;
			flex-basis: 90%;
			max-width: 700px;
			padding: 2rem;
			box-sizing: border-box;
			font-family: Roboto,sans-serif;
			
			.link-wrap {
				color: #666;
			}

			.title-row {
				display: flex;
				margin-bottom: 1rem;

				.article-title {
					flex: 1;
					font-size: 1.4rem;
					line-height: 1.3rem;
					margin-bottom: 1rem;
					font-weight: 700;
				}
				
			}
			.details-row {
				// flex: 1;
				display: flex;
				justify-content: space-between;
				p,a {
					display: inline-block;
					margin: 0 4px;
					color: $mono-light;
				}
				a {
					&:hover, &:active {
						color: $yellow;
					}
				}
				.save-item {
					color: $mono-light;
					&[data-save-status="true"] {
						color: $yellow;
					}
				}
			}

		}
	}

	#comments-section {
		width: 100%;
		position: fixed;
		left: 0;
		bottom: 0;
		display: none;
		background-color: #fff;
		// min-height: 400px;
		height: initial;
		max-height: 100vh;
		border-top: 1px solid $mono-light;
		&.active { display: inline-block; }
		
		.container {
			display: flex;
			flex-direction: column;
			height: inherit;
			max-width: 700px;
			padding: 2rem 0;
			// outline: 1px solid green;
			
			#posted-comments {
				// outline: 1px solid blue;
				padding: 1rem;
				margin: 2rem 0;
				.comment {
					padding: 1rem;
					display: flex;
					justify-content: space-between;
					.remove-comment {
						z-index: 999;
					}
				}
			}
			#new-comment-area {
				display: flex;
				flex-direction: column;
				h4 {
					// margin-bottom: 1rem;
				}
				textarea {
					font-size: 1.5rem;
					flex-basis: 120px;
					// min-height: 60px;
					// max-height: 300px;
					margin: 1rem 0;
					padding: 1rem;
				}
				
				#submit-comment {
					// background-color: $blue;
					max-width: 100px;
					// margin-top: 1rem;
				}
			}
		}
		
		#close-section {
			position: absolute;
			top: 1rem;
			right: 1rem;
			// opacity: .5;
			font-size: 14px;
			i {
				// margin-left: 6px;
			}
		}
	}